Repository jatinchowdhury18/AnalogTapeModel, pull requests merged in 2021-04, with the labels that each got.

#174 Don't ask for update for iOS or advanced version numbers
  Plugin/Source/GUI/AutoUpdating.cpp
  ios_builds.sh
Labels: gui

#175 Better extra tabs button for TabbedComponent
  Plugin/Source/GUI/MyLNF.cpp
  Plugin/Source/GUI/MyLNF.h
Labels: gui

#176 Set up unit tests
  .github/labeler.yml
  .github/workflows/cmake.yml
  Plugin/Source/GUI/AutoUpdating.cpp
  Plugin/Source/Headless/CMakeLists.txt
  Plugin/Source/Headless/Main.cpp
  Plugin/Source/Headless/ScreenshotHelper.cpp
  Plugin/Source/Headless/ScreenshotHelper.h
  Plugin/Source/Headless/UnitTests/MixGroupsTest.cpp
  Plugin/Source/Headless/UnitTests/SpeedTest.cpp
  Plugin/Source/Headless/UnitTests/UnitTests.cpp
  Plugin/Source/Headless/UnitTests/UnitTests.h
Labels: ci-pipeline, gui

#177 fine control over depth slider
  Plugin/Source/GUI/Assets/gui.xml
  Plugin/Source/GUI/OnOffManager.cpp
  Plugin/Source/Processors/Degrade/DegradeProcessor.cpp
  Plugin/Source/Processors/Degrade/DegradeProcessor.h
Labels: dsp, gui

#180 Better user presets functionality for iOS
  Plugin/Source/Presets/PresetComp.cpp
  Plugin/Source/Presets/PresetManager.cpp
Labels: presets

#181 Fix unit tests runner
  .github/workflows/cmake.yml
  Plugin/Source/Headless/UnitTests/UnitTests.cpp
  Plugin/Source/Headless/UnitTests/UnitTests.h
  Plugin/modules/WarningFlags.cmake
Labels: ci-pipeline, tests

#183 iOS GUI updates
  Plugin/Source/GUI/Assets/gui_ios.xml
  Plugin/Source/GUI/ScrollView.cpp
  Plugin/Source/Presets/PresetComp.cpp
Labels: gui, presets

#184 Some hardcore STN optomisations
  CHANGELOG.md
  Plugin/Source/Headless/CMakeLists.txt
  Plugin/Source/Headless/UnitTests/STNTest.cpp
  Plugin/Source/Processors/CMakeLists.txt
  Plugin/Source/Processors/Hysteresis/HysteresisProcessing.cpp
  Plugin/Source/Processors/Hysteresis/HysteresisSTN.cpp
  Plugin/Source/Processors/Hysteresis/HysteresisSTN.h
  Plugin/Source/Processors/Hysteresis/STNModel.cpp
  Plugin/Source/Processors/Hysteresis/STNModel.h
Labels: dsp, tests

#186 Enable tests in CI for all OS
  .github/workflows/cmake.yml
  Plugin/Source/Headless/UnitTests/STNTest.cpp
Labels: ci-pipeline, tests

#187 Add CI workflow for ARM Mac compilation
  .github/workflows/arm-mac.yml
  .github/workflows/cmake.yml
Labels: ci-pipeline

#189 Update Mix Groups Test to account for Message thread issues
  Plugin/Source/Headless/UnitTests/MixGroupsTest.cpp
Labels: tests

#190 Add IAP Tip Jar for iOS
  Plugin/CMakeLists.txt
  Plugin/Source/GUI/Assets/gui_ios.xml
  Plugin/Source/GUI/CMakeLists.txt
  Plugin/Source/GUI/IOSOnly/DragToScrollListener.cpp
  Plugin/Source/GUI/IOSOnly/DragToScrollListener.h
  Plugin/Source/GUI/IOSOnly/ScrollView.cpp
  Plugin/Source/GUI/IOSOnly/ScrollView.h
  Plugin/Source/GUI/IOSOnly/TipJar.h
  Plugin/Source/PluginProcessor.cpp
  Plugin/modules/CMakeLists.txt
Labels: gui

#191 Better handling for IAPs when offline
  Plugin/Source/GUI/CMakeLists.txt
  Plugin/Source/GUI/IOSOnly/TipJar.cpp
  Plugin/Source/GUI/IOSOnly/TipJar.h
  Plugin/modules/CMakeLists.txt
Labels: gui
